<br><br><br>
    <hr class="bg-info w-50 mt-5">
    <div class="container">
        <div class="row col-12">
            <div class="col-lg-4 col-xs-12 mt-5">
                <h2>Hope you enjoyed to grab it!!!</h2>
                <p>Stay Connected</p>
                <div>
                    <p><a href="https://www.instagram.com/"><i class="fa fa-instagram mr-2"
                                aria-hidden="true">
                            </i>
                                </a>
                                    Follow us on Instagram,<br>
                                    Facebook,
                                    Twitter,
                                    What's App,
                                    Telegram.
                            </p>
                    <p><i class="fa fa-envelope mr-2" aria-hidden="true"></i>JavaDevSecOps001@agile.tech</p>

                </div>
            </div>
            <div class="col-lg-4 col-xs-12 mt-5 mr-5">
                <h2>about me</h2>
                <p>I came from background of core Java Developer.<br>I have been enjoying to solve complex problems into simple solutions. 
                    When I'm not coding, Meditate, Exercise, Playing football, Valey ball, Cricket, 
                    <br>desperated to do Swimming</p>
            </div>
            <div class="col-lg-3 col-xs-12 mt-5">
                <h2>Contact Us</h2>
                <p>JavaDevSecOps001@agile.tech</p>
                <p>Let's build together</p>
            </div>
        </div>
    </div>
